.container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .post-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 25px;

    .app-post-card {
      width: calc(
        20% - 20px
      ); /* Para um grid de 4 colunas, ajuste o valor para 20% */
      margin-bottom: 20px;
    }
  }
}

.spacer {
  height: 100px; /* Ajuste a altura conforme necessário para empurrar o footer para baixo */
}
